

.isiGambar {
    
    padding-left: 100px;
    padding-right: 100px;
}

.gambar2 {

    
}

.isiGambar2 {

    padding-left: 100px ;
    padding-top: 50px;
    padding-bottom: 25px;
    
}

.isiGambar3 {
    
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.isiGambar4 {
    
    padding-left: 100px;
  
}


.isiGambar5 {
    
    padding-left: 100px;
    height: 30vh;
    padding-top: 15px;
  padding-bottom: 25px;
}

.isiGambar6 {
 
    padding-left: 75px;
    padding-top: 10px;
    height: 30vh;
}

.isiGambar7 {
    padding-left: 75px;
}

.isiGambar8 {
    padding-left: 75px;
}

.isiGambar9 {
   height: 30vh;
   padding-left: 80px;
   padding-top: 20px;
}